@charset "UTF-8";
* {
  /* archivo seteos generales scss */
  margin: 0;
  padding: 0;
  /* Ajusta proporcionalemnte padding y margenes al cambiar de tamaño los elementos */
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body header {
  background-color: antiquewhite;
  position: sticky;
  top: 0;
}
body header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
body header nav .milogo {
  width: 70px;
  height: 70px;
}
body header nav div {
  width: 60%;
}
body header nav div h1 {
  color: rgb(0, 72, 3);
  text-align: center;
  font-size: 2rem;
}
body header nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
body header nav ul li a {
  color: cadetblue;
  font-size: 12px;
}

/* Inicia main */
body main {
  /* Page misopciones */
  /* page milugar */
  /* Page quienes somos */
  /* Page contacto */
}
body main .nutrirse {
  display: flex;
  flex-direction: column;
  background-color: cadetblue;
  text-align: center;
  color: bisque;
}
body main .nutrirse h2 {
  font-size: 1.5rem;
}
body main .nutrirse p {
  font-size: 1rem;
}
body main .nutrirse div {
  border-top: 1px solid rgb(124, 3, 3);
}
body main .nutrirse div img {
  width: 100%;
  object-fit: cover;
}
body main .animate {
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  color: cadetblue;
  font-size: 1.5rem;
}
body main .animate .tith2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  text-align: center;
}
body main .animate .titresto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 1.5rem;
  text-align: center;
}
body main .titulo-opciones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3.5rem;
  background-color: rgb(203, 223, 203);
  font-size: 1rem;
  color: cadetblue;
  margin-top: 0.5rem;
}
body main .opciones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.5rem;
  flex-wrap: wrap;
}
body main .opciones div {
  display: flex;
  flex-direction: column;
}
body main .opciones div img {
  width: 370px;
  height: 340px;
  object-fit: cover;
  flex-wrap: wrap;
}
body main .opciones div btn btn-success {
  margin-top: 15px;
}
body main .tit-info-interes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  background-color: cadetblue;
  text-align: center;
  color: bisque;
  flex-wrap: wrap;
}
body main .galeria-notas {
  display: grid;
  margin-top: 1rem;
  margin-left: 20%;
  margin-right: 20%;
  width: 60%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
body main .galeria-notas .item-nota img {
  width: 300px;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  object-fit: cover;
  flex-wrap: wrap;
}
body main .galeria-notas .item-nota h3 {
  width: 100%;
  text-align: center;
  background-color: rgba(95, 158, 160, 0.701);
  margin: 10px 0;
  padding: 0 10px;
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid #ddd;
  border-radius: 10px;
  height: 100%;
  font-style: italic;
}
body main .sobre-nosotros {
  display: flex;
  flex-direction: column;
}
body main .sobre-nosotros div {
  display: flex;
  flex-direction: row;
  height: auto;
}
body main .sobre-nosotros div img {
  padding: 1rem;
  width: 50%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  flex-wrap: wrap;
}
body main .sobre-nosotros div .nosotros-parrafos {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
}
body main .sobre-nosotros div .nosotros-parrafos-ul {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: center;
}
body main .sobre-nosotros div .nosotros-parrafos-ul ul {
  list-style-type: disc;
  padding-left: 1rem;
  text-align: left;
}
body main .sobre-nosotros div .nosotros-parrafos-ul ul li {
  font-family: "Georgia", serif;
  margin-bottom: 15px;
}
body main .galeria-contacto {
  width: 100%;
  display: flex;
  flex-direction: row;
}
body main .galeria-contacto div {
  width: 50%;
}
body main .galeria-contacto div img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  flex-wrap: wrap;
}
body main .galeria-contacto .form-envio {
  background-color: azure;
  border: 1px solid green;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
body main .galeria-contacto .form-envio mb-3 {
  width: 50%;
  Display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Inicia footer */
body footer {
  background-color: antiquewhite;
  height: 100px;
  border-top: 1px solid rgb(124, 3, 3);
}
body footer a .misredes {
  margin-top: 20px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
}
body footer a .miwhsap {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
}

/* formatos responsive  sector medias*/
@media screen and (max-width: 980px) {
  body main .sobre-nosotros {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .sobre-nosotros div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: auto;*/
  }
  body main .sobre-nosotros img {
    padding: 0.2rem;
    width: 100%;
  }
  body main .sobre-nosotros div .nosotros-parrafos {
    width: 100%;
  }
  body main .sobre-nosotros div .nosotros-parrafos-ul {
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  body main .galeria-notas .item-nota img {
    width: 250px;
    height: auto;
  }
  body main .galeria-notas .item-nota h3 {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 770px) {
  body main .galeria-notas .item-nota img {
    width: 200px;
    height: auto;
  }
  body main .galeria-notas .item-nota h3 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 675px) {
  body header nav div h1 {
    font-size: 1.5rem;
  }
  body header nav ul li a {
    color: cadetblue;
    font-size: 10px;
  }
  body header nav .milogo {
    width: 60px;
    height: 60px;
  }
  body main .animate {
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    color: cadetblue;
    font-size: 1rem;
  }
  body main .animate .tith2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1rem;
  }
  body main .animate .titresto {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.8rem;
    flex-wrap: wrap;
  }
  body main .nutrirse h2 {
    font-size: 1rem;
  }
  body main .nutrirse p {
    font-size: 0.5rem;
  }
  body main .tit-info-interes {
    height: 3rem;
    background-color: cadetblue;
    text-align: center;
    color: bisque;
    font-size: 1rem;
  }
  body main .tit-info-interes h2 {
    font-size: 1rem;
  }
  body main .tit-info-interes p {
    font-size: 0.5rem;
  }
  body main .galeria-notas {
    margin-top: 0.5rem;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
    height: 100%;
    gap: 0.5rem;
  }
  body main .galeria-notas .item-nota img {
    width: 200px;
    height: auto;
  }
  body main .galeria-notas .item-nota h3 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 450px) {
  body header nav div h1 {
    font-size: 1rem;
  }
  body header nav ul li a {
    font-size: 8px;
  }
  body main .opciones div img {
    width: 320px;
    height: 300;
    object-fit: cover;
    flex-wrap: wrap;
  }
  body main .galeria-notas .item-nota img {
    width: 180px;
    height: auto;
  }
  body main .galeria-notas {
    margin-top: 0.5rem;
    /*grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;*/
    gap: 0rem;
  }
  body main .galeria-notas .item-nota h3 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 400px) {
  body header nav div {
    width: 50%;
  }
  body header nav div h1 {
    font-size: 0.8rem;
  }
  body header nav ul li a {
    font-size: 8px;
  }
  body main .galeria-notas .item-nota img {
    width: 150px;
    height: auto;
  }
  body main .galeria-notas .item-nota h3 {
    font-size: 0.4rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
