* {
    /* archivo seteos generales scss */
    margin: 0;
    padding: 0;
    /* Ajusta proporcionalemnte padding y margenes al cambiar de tamaño los elementos */
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
