/* formatos responsive  sector medias*/

@media screen and (max-width:980px) {
    body main .sobre-nosotros {
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body main .sobre-nosotros div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* height: auto;*/
    }

    body main .sobre-nosotros img {
        padding: 0.2rem;
        width: 100%;
    }

    body main .sobre-nosotros div .nosotros-parrafos {
        width: 100%;
    }

    body main .sobre-nosotros div .nosotros-parrafos-ul {
        width: 100%;
    }

    /* Page Mis opciones */
    body main .alternativas .item-alternativa-ul {
        height: 300;
    }



    body main .alternativas .item-alternativa-ul div ul {
        font-size: 16px;
        line-height: 2;
        /* width: 50%;*/
    }
}

@media screen and (max-width:900px) {


    body main .galeria-notas .item-nota img {
        width: 250px;
        height: auto;

    }

    body main .galeria-notas .item-nota h3 {
        font-size: 0.9rem;

    }
}

@media screen and (max-width:770px) {

    body main .galeria-notas .item-nota img {

        width: 220px;
        height: auto;

    }

    body main .galeria-notas .item-nota h3 {
        font-size: 0.7rem;

    }
}

@media screen and (max-width:675px) {
    body header nav div h1 {
        font-size: 1.5rem;
    }

    body header nav ul li a {
        color: cadetblue;
        font-size: 10px;
    }

    body header nav .milogo {
        width: 60px;
        height: 60px;
    }

    body main .animate {
        display: flex;
        flex-direction: column;
        background-color: antiquewhite;
        color: cadetblue;
        font-size: 1rem;

    }

    body main .animate .tith2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 1rem;
    }

    body main .animate .tith2 h2 {
        font-size: 1rem;
    }

    body main .animate .titresto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.8rem;
        flex-wrap: wrap;

    }

    body main .nutrirse h2 {
        font-size: 1rem;
    }

    body main .nutrirse p {
        font-size: 0.5rem;
    }

    body main .tit-info-interes {
        height: 3rem;
        background-color: cadetblue;
        text-align: center;
        color: bisque;
        font-size: 1rem;

    }

    body main .tit-info-interes h2 {
        font-size: 1rem;
    }

    body main .tit-info-interes p {
        font-size: 0.5rem;
    }

    body main .galeria-notas {
        margin-top: 0.5rem;
        margin-left: 0%;
        margin-right: 0%;
        width: 100%;
        height: 100%;
        gap: 0.5rem;
    }

    body main .galeria-notas .item-nota img {
        width: 200px;
        height: auto;
    }

    body main .galeria-notas .item-nota h3 {
        font-size: 0.7rem;

    }

    /*Pagina Mis  Opciones */

    body main .alternativas .item-alternativa-ul div ul {
        font-size: 14px;
        line-height: 2;
        /* width: 50%;*/
    }

    /*Pagina Contactos*/
    body main .galeria-contacto {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    body main .galeria-contacto div {
        width: 100%;
    }

    body main .galeria-contacto div img {
        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: contain;
        flex-wrap: wrap;
    }
    body main .galeria-contacto .form-envio {
        background-color: azure;
        border: 1px solid green;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:565px) {

    body main .animate .tith2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-size: 0.2rem;
    }

    body main .animate .titresto {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 0.6rem;
        flex-wrap: wrap;
    }

    /*Pagina Mis  Opciones */

    body main .alternativas .item-alternativa-ul .ebok-boton{
        padding: 20px;
    }
    body main .alternativas .item-alternativa-ul div ul {
        font-size: 12px;
        line-height: 2;
        /* width: 50%;*/
    }
}

@media screen and (max-width:475px) {
    body header nav div h1 {
        font-size: 1rem;
    }

    body header nav ul li a {
        font-size: 8px;
    }

    body main .opciones div img {
        width: 320px;
        height: 300;
        object-fit: cover;
        flex-wrap: wrap;
    }

    body main .galeria-notas .item-nota img {
        width: 180px;
        height: auto;
    }

    body main .galeria-notas {
        margin-top: 0.5rem;
        /*grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;*/
        gap: 0rem;
    }

    body main .galeria-notas .item-nota h3 {
        font-size: 0.5rem;
    }

    /* Pagina Mis opciones */

    body main .alternativas .item-alternativa-ul .ebok-boton{
        padding: 2px;
    }

    body main .alternativas .item-alternativa-ul div ul {
        font-size: 10px;
        line-height: 2;
        /* width: 50%;*/
    }
}

@media screen and (max-width:400px) {
    body header nav div {
        width: 50%;
    }

    body header nav div h1 {
        font-size: 0.8rem;
    }

    body header nav ul li a {
        font-size: 8px;
    }

    body main .galeria-notas .item-nota img {
        width: 150px;
        height: auto;
    }

    body main .galeria-notas .item-nota h3 {
        font-size: 0.4rem;
    }

    /* Pagina Mis opciones */

    body main .alternativas .item-alternativa-ul div ul {
        font-size: 9px;
        line-height: 2;

    }
}