    /* Inicia footer */
body{
    footer {
        background-color: antiquewhite;
        height: 100px;
        border-top: 1px solid rgb(124, 3, 3);
        a {
            .misredes {
                margin-top: 20px;
                margin-left: 20px;
                width: 40px;
                height: 40px;

            }

            .miwhsap {
                
                position: fixed;
                bottom: 10px;
                right: 10px;
                width: 60px;
                height: 60px;

            }

        }
    }
}